# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# IDE configs
.idea/
.vscode/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/

# Logs
*.log